<div class="content-general">
    <div class="content-form">
        <div class="form">
            <div class="content-options">
                <div class="optiosn-link" routerLink="/maestros/configuracion/Planes">
                    Palnes
                </div>
                <div class="optiosn-link" routerLink="/maestros/configuracion/Conceptos">
                    Conceptos
                </div>
                <div class="optiosn-link" routerLink="/maestros/configuracion/Usuarios">
                    Usuarios
                </div>
            </div>
            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

