<div class="content-general">
    <div class="content-form">
        <div class="form">
            <form action="" [formGroup]="UsuariosForm">
            <div class="content-title">
                <h2 class="cursor">Usuarios</h2>
            </div>
            <div class="content-options">
                <div class="row">
                    <div class="col-sm">
                        <div class="group">
                            <input type="text" required="required" formControlName="Nombre_completo"
                            (focus)="desactiveRegistroIngreso()" (blur)="habilitarRegistroIngreso()" />
                            <span class="text-danger text-validation-sm" *ngIf="UsuariosForm.controls['Nombre_completo'].errors?.['required'] &&
                            ( UsuariosForm.controls['Nombre_completo'].touched)">
                                {{ 'El Nombre usuario es obligatoria'}}
                            </span>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="label-title">Nombre usuario</label>

                        </div>

                    </div>
                    <div class="col-sm">
                        <div class="group">
                            <input type="text" required="required" formControlName="Nick_Name"
                            (focus)="desactiveRegistroIngreso()" (blur)="habilitarRegistroIngreso()" />
                            <span class="text-danger text-validation-sm" *ngIf="UsuariosForm.controls['Nick_Name'].errors?.['required'] &&
                            ( UsuariosForm.controls['Nick_Name'].touched)">
                                {{'El nick name es obligatorio'}}
                            </span>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="label-title">Nick name</label>

                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="group">
                            <select required formControlName="Estado"
                            (change)="validarSeleccion('Estado', 'estado')">
                            <option value="-1">---Seleccione---</option>
                            <option value="{{estado.value}}" *ngFor="let estado of estados">
                                {{estado.descripcion}}
                            </option>
                        </select>
                        <span class="text-danger text-validation-sm" *ngIf="UsuariosForm.controls['Estado'].errors?.['required'] &&
                            ( UsuariosForm.controls['Estado'].touched)">
                            {{ 'Estado es Obligatoria'}}
                        </span>
                        <span class="highlight"></span>
                        <span class="bar"></span>
                        <label class="label-select">Estado</label>
                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="group">
                            <input type="password" required="required" formControlName="Password"
                            (focus)="desactiveRegistroIngreso()" (blur)="habilitarRegistroIngreso()" />
                            <span class="text-danger text-validation-sm" *ngIf="UsuariosForm.controls['Password'].errors?.['required'] &&
                            ( UsuariosForm.controls['Password'].touched)">
                                {{'La contraseña es obligatoria'}}
                            </span>
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="label-title">New password</label>

                           

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                       
                    </div>
                    <div class="col-sm content-btn-footer">
                        <button type="button" class="btn-gym-progress" *ngIf="!showBtnEdit && showBtnSave" (click)="GuardarUsuario()">Guardar</button>
                        <button type="button" class="btn-gym-progress" *ngIf="!showBtnSave && showBtnEdit" (click)="EditarUsuario()">Editar</button>
                        <button type="button" class="btn-gym-dark" (click)="cancelar()">Cancelar</button>
                    </div>
                    <div class="col-sm">
                        
                    </div>
                    
                </div>
            </div>
            <div></div>
            <div class="content-table" *ngIf="usuarioData.length > 0">
                <!--  -->
                <table class="table table-dark table-hover table-gym">
                    <thead>
                        <tr>
                            <th class="table-title-gym">Nombre del usuario</th>
                            <th class="table-title-gym">Nick name</th>
                            <th class="table-title-gym">Estado</th>
                            <th class="table-title-gym">Fecha creacion</th>
                            <th class="table-title-gym">Opciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- (click)="editarCliente(cliente)" -->
                        @for (user of usuarioData  | slice: (page-1) * pageSize : page * pageSize; track item ) {
                            <tr class="tr-table cursor">
                                <td>{{user.Nombre_completo}} </td>
                                <td>{{user.Nick_Name}}</td>
                                <td>{{user.Estado === true ? 'Activo': 'In activo'}}</td>
                                <td>{{user.Fecha_creacion | date: 'dd/MM/yyyy'}}</td>
                                <td>
                                    <i class="fa fa-pencil-square-o fa-lg icon-table-gym" aria-hidden="true" (click)="mapUser(user)"></i>
                                    <i class="fa fa-trash-o fa-lg icon-table-gym" aria-hidden="true" (click)="EliminarUsuario(user)"></i>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <!-- <paging-controls class="paginator-footer" [isItemsPerPage]="false" (pageChange)="p = $event"
                    maxSize="12" responsive="true" previousLabel="Anterior" nextLabel="Siguiente"
                    screenReaderPaginationLabel="Pagination" screenReaderPageLabel="page"
                    screenReaderCurrentLabel="You're on page"></paging-controls> -->
                    <ngb-pagination class="paginator-footer" [collectionSize]="collectionSize" [(page)]="page" responsive="true"
                                    [pageSize]="pageSize"></ngb-pagination>
            </div>
            <div class="content-errors" *ngIf="usuarioData.length <= 0">
                <h4>No se encontraron resultados.</h4>
            </div>
            </form>
        </div>
    </div>
</div>
<app-modal-ingreso [HabilitarRegistroIngreso]="habilitarModal"></app-modal-ingreso>