.mestros-dash {
    margin-top: 138px;
    position: absolute;
}

.content-general {
    display: flex;
    width: 100%;
    justify-items: center;
    margin: 0px auto;
    padding: 0px;
    margin: 0px;
    justify-content: center;
    flex-direction: row;

}
.content-form { 
      display: block;
      margin-top: 140px;
      width: 85%;
      height: 950px;
      
}
.form {
    width: 80%;
    margin: 0px auto;
}

h2 {
    margin-top: 50px;
    font-size: 40px;
    text-align: center;
    font-family: 'OptiAgencyGothicMedium'; 
    font-weight: bold;
    letter-spacing: 3px;
}

.text-help {
    width: 100%;
    font-family: "OptiAgencyGothicMedium";
    letter-spacing: 3px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}