<div class="content-general">
    <div class="content-form">
        <div class="form">
            <app-back-bottom></app-back-bottom>
            <h2 class="cursor" routerLink="/maestros/configuracion">Configurar maestros</h2>
            <div class="text-help">
                <p>
                    En este espacio podra configurar los maestros que alimentas la aplicacion , ej: Litado de palnes con
                    sus valores , listado de conceptos,
                    Podra modificar el nombre y los valores cantidad de dias Etc..
                </p>
            </div>

            <div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>

