<div class="content-general">
    <div class="content-item-menu">
        <div class="registro cursor card-menu" routerLink="/clientes/registrarclientes/0">
            <h2>Registros</h2>
            <img src="assets/img/musculos.png" alt="" width="50">
        </div>
        <div class="consultas cursor card-menu" routerLink="/clientes/consultarclientes">
            <h2>Consultar</h2>
            <img src="assets/img/peso.png" alt="" width="60">
        </div>
        <div class="consultas cursor card-menu" routerLink="/ingresos/consultar-ingreso">
            <h2>Ingresos</h2>
            <img src="assets/img/puerta-de-salida.png" alt="" width="60">
        </div>
        <div class="ingresos cursor card-menu" routerLink="/ingresos/Informes">
            <h2>Informes</h2>
            <img src="assets/img/informe-de-negocio.png" alt="" width="50">
        </div>
        <div class="ingresos cursor card-menu" routerLink="/reportes/usuarios-report">
            <!--  -->
            <h2>Reportes</h2>
            <img src="assets/img/reporte.png" alt="" width="50">
        </div>
        <div class="ingresos cursor card-menu" data-bs-toggle="modal" data-bs-target="#ModalCierre"
            (click)="desactiveRegistroIngreso()">
            <h2>Cierre</h2>
            <img src="assets/img/firmar.png" alt="" width="50">
        </div>
        <div class="ingresos cursor card-menu" data-bs-toggle="modal" data-bs-target="#getInformationModal"
            (click)="desactiveRegistroIngreso()">
            <h2>Ventas</h2>
            <img src="assets/img/grafico-de-barras.png" alt="" width="50">
        </div>
        <div class="ingresos cursor card-menu" routerLink="/deudas/deuda">
            <h2>Deudas</h2>
            <img src="assets/img/pedir-prestado.png" alt="" width="50">
        </div>

        <div class="ingresos cursor card-menu" data-bs-toggle="modal" data-bs-target="#seguridadModal">
            <h2>Configuraciones</h2>
            <img src="assets/img/configuraciones.png" alt="" width="50">
        </div>
        
    </div>
</div>


<!-- Modal ventas-->

<div class="modal fade" id="getInformationModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header title-dark">
                <h5 class="modal-title" id="titleModal">Registrar venta</h5>
                <button type="button" class="btn-close btn-x" data-bs-dismiss="modal"
                    (click)="habilitarRegistroIngreso()">X</button>
            </div>
            <div class="modal-body">
                <!-- <div class="content-form"> -->
                <form [formGroup]="ventasForm">
                    <div class="content-general-venta">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="group">
                                        <select required formControlName="Id_Concepto"
                                            (change)="validarSeleccion('Id_Concepto', 'concepto')">
                                            <option [ngValue]="optPlan" *ngFor="let optPlan of conceptoData">
                                                {{optPlan.Descripcion}}
                                            </option>
                                        </select>
                                        <!-- <span class="text-danger text-validation-sm" *ngIf="registerClientForm.controls.Id_Plan.errors?.required &&
                                                ( registerClientForm.controls.Id_Plan.touched)">
                                                    {{ 'Plan es obligatorio , debe seleccionar una opción'}}
                                                </span> -->
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label class="label-select">Concepto</label>

                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="group">
                                        <select required formControlName="Id_Usuario">
                                            <option [ngValue]="optUser" *ngFor="let optUser of usuariosData">
                                                {{optUser.Nombre_completo}}
                                            </option>
                                        </select>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label class="label-select">Usuario</label>

                                    </div>
                                </div>
                                <div class="col-sm" *ngIf="ingresoDiario">
                                    <div class="group">
                                        <input type="text" required="required" formControlName="NameCliente"
                                            (focus)="desactiveRegistroIngreso()" />
                                        <span class="text-danger text-validation-sm" *ngIf="ventasForm.controls['NameCliente'].errors?.['required'] &&
                                                ( ventasForm.controls['NameCliente'].touched)">
                                        {{ 'El nombre del cliente es obligatorio'}}
                                    </span>

                                    <span class="highlight"></span>
                                    <span class="bar"></span>
                                    <label class="label-title">Cliente</label>

                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="group">
                                        <select required formControlName="Id_Forma_pago">
                                            <option [value]="optForm.Id_Forma_Pago" *ngFor="let optForm of formasData">
                                                {{optForm.Descripcion}}
                                            </option>
                                        </select>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label class="label-select">Metodo pago</label>

                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="group">
                                        <input type="number" required="required" formControlName="Valor_Venta"
                                            (focus)="desactiveRegistroIngreso()" />
                                        <span class="text-danger text-validation-sm" *ngIf="ventasForm.controls['Valor_Venta'].errors?.['required'] &&
                                                    ( ventasForm.controls['Valor_Venta'].touched)">
                                            {{ 'El valor de la venta es obligatorio'}}
                                        </span>

                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label class="label-title">Valor venta</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- </div> -->
            </div>
            <div class="modal-footer footer">
                <button type="button" class="btn btn-primary btn-progress" (click)="saveVenta()">Save sale</button>
                <button type="button" class="btn btn-secondary btn-dark" data-bs-dismiss="modal"
                    (click)="habilitarRegistroIngreso()">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Modal Deudas -->

<div class="modal fade" id="ModalCierre" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header title-dark">
                <h5 class="modal-title" id="titleModal">Informacion de cierre</h5>
                <button type="button" class="btn-close btn-x" data-bs-dismiss="modal"
                    (click)="habilitarRegistroIngreso(); limpiar()">X</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="ventasForm">
                    <div class="content-general-venta">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="group">
                                        <select required formControlName="Id_Usuario">
                                            <!-- <option value="-1">---Seleccione---</option> -->
                                            <option [ngValue]="optUser.Id_Usuario" *ngFor="let optUser of usuariosData">
                                                {{optUser.Nombre_completo}}
                                            </option>
                                        </select>
                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label class="label-select">Usuario</label>

                                    </div>
                                </div>
                                <div class="col-sm">
                                    <div class="group">
                                        <div class="col-sm content-btn-footer">
                                            <button type="button" class="btn-gym-progress"
                                                (click)="ConsultarCierre()">Consultar</button>
                                            <button type="button" class="btn-gym-dark"
                                                (click)="limpiar()">Limpiar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <div class="content-table" *ngIf="dataDiarios.length > 0">
                    <table class="table table-dark table-hover table-gym">
                        <thead>
                            <tr>
                                <th class="table-title-gym">Concepto</th>
                                <th class="table-title-gym">Valor venta</th>
                                <th class="table-title-gym">Usuario</th>
                                <th class="table-title-gym">Fecha venta</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (diarios of dataDiarios  | slice: (pageDiarios-1) * pageSizeDiarios : pageDiarios * pageSizeDiarios; track item ) {
                                <tr
                                    class="tr-table cursor">
                                    <td>{{diarios.concepto.Descripcion}}</td>
                                    <td>{{diarios.venta.Valor_Venta | currency}}</td>
                                    <td>{{diarios.usuario.Nombre_completo}}</td>
                                    <td>{{diarios.venta.Fecha_Ingreso | date: 'dd/MM/yyyy'}}</td>
                                </tr>
                               
                            }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td><strong>TOTAL </strong></td>
                                    <td> {{ totalVentasDiarias | currency}} </td>
                                </tr>
                        </tbody>
                    </table>
                    <ngb-pagination class="paginator-footer" [collectionSize]="collectionSizeDiarios" [(page)]="pageDiarios" responsive="true"
                                    [pageSize]="pageSizeDiarios"></ngb-pagination>
                </div>
                <div class="content-table" *ngIf="dataPlanes.length > 0">
                    <table class="table table-dark table-hover table-gym">
                        <thead>
                            <tr>
                                <th class="table-title-gym">Plan</th>
                                <th class="table-title-gym">Valor del plan</th>
                                <th class="table-title-gym">Fecha venta</th>
                                <th class="table-title-gym">Hora venta</th>
                                <th class="table-title-gym">Cliente</th>
                                <th class="table-title-gym">Usuario</th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (planes of dataPlanes  | slice: (page-1) * pageSize : page * pageSize; track item ) {
                                <tr 
                                    class="tr-table cursor">
                                    <td>{{planes.Plan.Descripcion}}</td>
                                    <td>{{planes.Plan.Valor_Plan | currency}}</td>
                                    <td>{{planes.Ventas_Cliente.Fecha | date: 'dd/MM/yyyy'}}</td>
                                    <td>{{planes.Ventas_Cliente.Hora_Venta_Cliente}}</td>
                                    <td>{{planes.Cliente.Nombres}} {{planes.Cliente.Apellidos}}</td>
                                    <td>{{planes.Usuario.Nombre_completo}}</td>

                                </tr>
                               
                            }
                                <tr>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td></td>
                                    <td><strong>TOTAL </strong></td>
                                    <td> {{ totalVentasPlanes | currency}}</td>
                                </tr>
                        </tbody>
                    </table>
                    <ngb-pagination class="paginator-footer" [collectionSize]="collectionSize" [(page)]="page" responsive="true"
                                    [pageSize]="pageSize"></ngb-pagination>
                </div>
                <div class="content-errors" *ngIf="dataPlanes.length <= 0 && dataDiarios.length <= 0">
                    <h4>No se encontraron resultados con los parametros ingresados</h4>
                </div>
            </div>
            <div class="modal-footer footer">
                <button type="button" class="btn btn-secondary btn-dark" data-bs-dismiss="modal"
                    (click)="habilitarRegistroIngreso(); limpiar()">Close</button>
            </div>
        </div>
    </div>
</div>

<!--Modal Seguridad-->
<!-- <button #openSeguridad data-bs-toggle="modal" data-bs-target="#seguridadModel"></button> -->

<div class="modal fade" id="seguridadModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog  modal-lg modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header title-dark">
                <h5 class="modal-title" id="titleModal">Ingrese la contraseña</h5>
                <button #closeModalSeguridad type="button" class="btn-close btn-x" data-bs-dismiss="modal"
                    (click)="habilitarRegistroIngreso()">X</button>
            </div>
            <div class="modal-body">
                <!-- <div class="content-form"> -->
                <form [formGroup]="seguridadForm">
                    <div class="content-general-venta">
                        <div class="container">
                            <div class="row">
                                <div class="col-sm">
                                    <div class="group">
                                        <input type="password" required="required" formControlName="password"
                                            (focus)="desactiveRegistroIngreso()" />
                                        <span class="text-danger text-validation-sm" *ngIf="seguridadForm.controls['password'].errors?.['required'] &&
                                                    ( seguridadForm.controls['password'].touched)">
                                            {{ 'El password es obligatorio'}}
                                        </span>

                                        <span class="highlight"></span>
                                        <span class="bar"></span>
                                        <label class="label-title">Password</label>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- </div> -->
            </div>
            <div class="modal-footer footer">
                <button type="button" class="btn btn-primary btn-progress"
                    (click)="validarIdentidad()">Validate</button>
                <button type="button" class="btn btn-secondary btn-dark" data-bs-dismiss="modal"
                    (click)="habilitarRegistroIngreso(); close();">Close</button>
            </div>
        </div>
    </div>
</div>



<app-modal-ingreso [HabilitarRegistroIngreso]="habilitarIngreso"></app-modal-ingreso>