.content-form {
    margin: 0px auto;
    position: absolute;
    margin-top: 190px;
    width: 100%;
    height: 650px;
}


.form {
    width: 70%;
    margin: 0px auto;
}

h2 {
    margin-top: 30px;
    font-size: 40px;
    text-align: center;
    font-family: 'OptiAgencyGothicMedium'; 
    font-weight: bold;
    letter-spacing: 3px;
}

.content-btn-footer {
    float: right;
    justify-items: center;
    align-items: center;
    margin: 0px 0px 0px 0px;
    display: flex;
    justify-content: flex-end;
}

.content-table {

    height: 420px;
}




.color-warnign {
    color: rgb(190, 121, 16);
}

.color-danger {
    color: rgb(253, 36, 36);
}

.color-normal {
    color: #FFFFFF;
}





@media only screen and (max-width: 600px) {
    .content-form {
        margin: 0px auto;
        position: absolute;
        margin-top: 25px;
        width: 100%;
        height: 650px;
    }

    .form {
        width: 90%;
        margin: 0px auto;
    }

    .content-table {
        overflow-x: scroll;
    }
}  

