<div class="content-general">
    <div class="content-form">
        <div class="form">
            <div class="content-title">
                <h2 class="cursor" >Conceptos</h2>
            </div>
            <div class="content-options">
                <div class="row">
                    <div class="col-sm">
                        <div class="group">
                            <input type="text" required="required" formControlName="Descripcion"
                                (focus)="desactiveRegistroIngreso()" />
                            <!-- <span class="text-danger text-validation-sm" *ngIf="registerClientForm.controls.Nombres.errors?.required &&
                                ( registerClientForm.controls.Nombres.touched)">
                                {{ 'Nombres son obligatorio'}}
                            </span>
                            <span class="text-danger text-validation-sm"
                                *ngIf="registerClientForm.controls.Nombres.errors?.pattern">
                                {{ 'Nombres solo aceptan letras - minimo 2 letras' }}
                            </span> -->
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="label-title">Descripción</label>

                        </div>

                    </div>
                    <div class="col-sm">
                        <div class="group">
                            <input type="number" required="required" formControlName="Apellidos"
                                (focus)="desactiveRegistroIngreso()" />
                            <!-- <span class="text-danger text-validation-sm" *ngIf="registerClientForm.controls.Apellidos.errors?.required &&
                                ( registerClientForm.controls.Apellidos.touched)">
                                {{ 'Apellidos son obligatorio'}}
                            </span>
                            <span class="text-danger text-validation-sm"
                                *ngIf="registerClientForm.controls.Apellidos.errors?.pattern">
                                {{ 'Apellidos solo aceptan letras - minimo 2 letras' }}
                            </span> -->
                            <span class="highlight"></span>
                            <span class="bar"></span>
                            <label class="label-title">Valor del concepto</label>

                        </div>
                    </div>
                    <div class="col-sm content-btn-footer">
                        <button type="button" class="btn-gym-progress" 
                           >Guardar</button>
                        <button type="button" class="btn-gym-progress" 
                           >Editar</button>
                        <button type="button" class="btn-gym-dark"
                            >Cancelar</button>
                    </div>
                </div>
            </div>
            <div>

            </div>
            <div class="content-table" >
                <!-- *ngIf="clientesModelLstSearch.length > 0" -->
                <table class="table table-dark table-hover table-gym">
                    <thead>
                      <tr >
                        <th class="table-title-gym">Descripcion</th>
                        <th class="table-title-gym">Valor del concepto</th>
                        <th class="table-title-gym">Opciones</th>
                      </tr>
                    </thead>
                    <tbody>
                      <!-- <tr *ngFor="let cliente of clientesModelLstSearch | paginate: { currentPage: p }" class="tr-table cursor"
                          [ngClass]="{ 'color-warnign': cliente.porVencer && !cliente.Vencido, 'color-normal': !cliente.porVencer &&  !cliente.Vencido , 'color-danger ': cliente.Vencido && cliente.porVencer }"
                          [title]=" cliente.DiasFaltantes < 0 ? 'Vencido hace '+ cliente.DiasFaltantes +' ' + cliente.palabra: 'Le quedan '+ cliente.DiasFaltantes +' '+ cliente.palabra "
                           (click)="editarCliente(cliente)">
                        <td>{{cliente.cliente.Nombres}} {{cliente.cliente.Apellidos}}</td>
                        <td>{{cliente.cliente.Documento_identitdad}}</td>
                        <td >{{cliente.cliente.Fecha_nacimiento | date: 'dd/MM/yyyy'}}</td>
                        <td>{{cliente.cliente.Celular}}</td>    
                        <td>{{cliente.plan.Descripcion}}</td>
                        <td>{{cliente.forma_pago.Descripcion}}</td>
                        <td>{{ (cliente.cliente.Estado === true ? 'Activo': 'In activo')}}</td>
                        <td>{{cliente.cliente.Fecha_registro | date: 'dd/MM/yyyy'}}</td>
                        <td>{{cliente.usuario.Nombre_completo}}</td>
                        <td>{{cliente.cliente.Fecha_inicio | date: 'dd/MM/yyyy'}}</td>
                        <td>{{cliente.cliente.Fecha_fin | date: 'dd/MM/yyyy' }}</td>
                      </tr> -->
                      
                    </tbody>
                  </table>
                  <paging-controls class="paginator-footer" [isItemsPerPage]="false" (pageChange)="con = $event"
                      maxSize="12"
                      responsive="true"
                      previousLabel="Anterior"
                      nextLabel="Siguiente"
                      screenReaderPaginationLabel="Pagination"
                      screenReaderPageLabel="page"
                      screenReaderCurrentLabel="You're on page"></paging-controls>
            </div>
            <!-- <div class="content-errors" *ngIf="clientesModelLstSearch.length <= 0">
                
                    <h4>No se encontraron resultados con los parametros ingresados</h4>
                
            </div> -->
        </div>
    </div>
</div>

<app-modal-ingreso [HabilitarRegistroIngreso]="habilitarModal"></app-modal-ingreso>