.content-title {
    width: 100%;
    text-align: center;
    height: 50px;
}

h2 {
    line-height: 80px;
    font-family: 'OptiAgencyGothicMedium' !important;
}

.table > thead { 
    letter-spacing: 4px !important;
}

.ngx-pagination .current :active {
    background: #35a2a2  !important;

}

.icon-table-gym {
    letter-spacing: 10px;
    &:hover {
        color: #35a2a2;
    }
}

.content-btn-footer {
    margin-top: 25px;
}

